<!DOCTYPE html>
<html lang="en">

<head>

	<title> neta b </title>

	<meta name="description"
		content="Neta Bomani is a worker surviving in Brooklyn." />

	<link rel="stylesheet" type="text/css" href="{{"/assets/css/neta.css" | relative_url}}">
	<link rel="stylesheet" href="https://use.typekit.net/ene4nho.css">

</head>

<body>
	<div class="container">

		<div class="header">

			<a name="top"></a>

			<a href="/"> <img class="sticky img1" src="{{"/assets/img/neta-bomani-smiley-blk.png"}}" alt="A white smiley face."> </a>

			{% if page.hasSticky %}
			<!-- <img class="sticky img2" src="/assets/img/neta-bomani-smiley-blk.png" alt="Image description: A black smiley face."> -->
			{% endif %}

			<!-- <h1> <a id ="home" href="/"> Neta Bomani </a> </h1> -->

			<p class="header"> <a id="home" href="/">Neta Bomani</a> is a worker who engages in oral history, direct
				action and social practices through organizing and making archives, writings, prints, zines, circuits
				and workshops. Neta's work has materialized as an educator of <a
					href="https://pioneerworks.org/x/neta-bomani/" id="p-link" target="_blank">Pioneer Works</a> after
				school programs, an organizer of the <a href="https://sfpc.io/code-societies/" id="p-link"
					target="_blank">School for Poetic Computation</a>, a member of <a href="http://dinkins.studio"
					id="p-link" target="_blank">Stephanie Dinkins Studio</a> and a participator in grassroots organizing
				<a href="http://nonewjails.nyc" id="p-link" target="_blank">against prisons</a> and borders in New York
				City and beyond.</p>

		</div>

		{{content}}

		<div class="footer">

			<footer>

				<div class="bottom-nav">
					<p class="directions">
						<a href="#top" id="p-link"> top <mark class="unicode"> &#x293b; </mark> </a>
					</p>

					<p class="directions">
						<a href="/" id="p-link"> <mark class="unicode"> * </mark> home </a>
					</p>
				</div>

			</footer>

		</div>

	</div>

</body>

</html>