<!DOCTYPE html>
<html lang="en">

    <head>

        <title> Neta Bomani </title>

        <meta name="description" content="The portfolio of Neta Bomani, a visual storyteller and technologist based in New York city." />

        <link rel="stylesheet" type="text/css" href="{{"/assets/css/neta.css" | relative_url}}">

    </head>

    <body>
    	<div class="container">

		    <div class="header"> 
	        	<img class="sticky img1" src="{{"/assets/img/neta-bomani-halftone.png"}}" alt="Image description: A portrait of Neta Bomani stylized in halftone and colored in chroma key blue.">		        

		        {% if page.hasSticky %}
				<img class="sticky img2" src="assets/img/neta-bomani-smiley-blk.png" alt="Image description: A black smiley face."/>
		        {% endif %}

		        <a name="top"></a>

		        <h1> <a id ="home" href="/"> Neta Bomani </a> </h1>

		        <p class = "header"> Neta Bomani is a visual storyteller based in Brooklyn, New York who is exploring computational and new media art approaches to organizing, archiving and writing through making prints, zines, maps and circuits. Neta is currently  at <a href="http://dinkins.studio" id="p-link" target="_blank">Stephanie Dinkins Studio</a>. </p>

		    </div>

    		{{content}}

		    <div class="footer">
		        <footer>    
		            <p> <a href="#top" id="p-link"> Back to top <mark class="unicode"> &#x293b; </mark> </a> </p>
		            <p> &copy; Neta Bomani 2018. All rights reserved. </p>
		        </footer>
		    </div>
    	</div>
	</body>
</html>