<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> neta's web archive </title>

    <link rel="stylesheet" type="text/css" href="/../css/layout.css ">
    <!-- "{{" /../css/layout.css " | relative_url}}"> -->
</head>

<body>
    <div class="gift-wrap">
        <div class="left">

            <p>
                <a href="/">neta bomani</a> is an abolitionist, learner and educator who is interested in parsing information and histories while making things by hand with human and non-human computers.
            </p>

            <hr>

            <button type="button" class="collapse"> archive </button>
            <div class="archive-links">

                <ul>
                    <li> <a href="/darkmatter"> dark matter objects: technologies of capture and things that can't be held </a> </li>
                    <li> <a href="http://zines.netabomani.com"> zines </a> </li>
                    <li> <a href="/archive/ai-assembly"> AI.Assembly </a> </li>
                    <li> <a href="/archive/mask-on"> Mask On </a> </li>
                    <li> <a href="/archive/black-photo-booth"> Black Photo Booth </a> </li>
                    <li> <a href="/archive/bonita"> Groundhog Day: The Killing of Bonita Carter</a> </li>
                    <li> <a href="/archive/cybernetics-of-racism"> Cybernetics of Race/ism </a> </li>
                    <li> <a href="/archive/code-societies"> Code Societies </a> </li>
                    <li> <a href="/archive/obb"> Out of the Black Box </a> </li>
                    <li> <a href="/archive/poetic-computation-detroit"> Poetic Computation: Detroit </a> </li>
                    <li> <a href="/archive/arts-in-libraries"> Arts in the Libraries: Code, Craft, Catalogues </a>
                    </li>
                    <li> <a href="/archive/art-fem-moma"> Wikipedia Edit-a-thon </a> </li>
                    <li> <a href="/archive/tci"> Creative Savior Complex </a> </li>
                    <li> <a href="/archive/aiga"> Finding the Blank Spots in Big Data </a> </li>
                    <li> <a href="/archive/radical-black-harlem"> Radical Black Women of Harlem Tour </a> </li>
                    <li> <a href="/archive/tzf"> Tech Zine Fair </a> </li>
                    <li> <a href="/archive/m4sp"> memory for a stateless person </a> </li>
                    <li> <a href="/archive/nsnb"> No Sleep No Breaks </a> </li>
                    <li> <a href="/archive/resume">Resume / CV</a> </li>
                </ul>
            </div>

            <button type="button" class="collapse"> elsewhere online </button>
            <div class="archive-links">
                <ul>
                    <li> <a href="https://www.are.na/neta-bomani" target="_blank">are.na</a> </li>
                    <li> <a href="https://github.com/netanoir" target="_blank">github</a> </li>
                    <li> <a href="https://glitch.com/@netanoir" target="_blank">glitch</a> </li>
                    <li> <a href="mailto:netanyabomani@gmail.com">gmail</a> </li>
                    <li> <a href="mailto:netabomani@protonmail.com" target="_blank">protonmail</a> </li>
                    <li> <a href="https://twitter.com/netabomani" target="_blank">twitter</a> </li>
                </ul>
            </div>

            <button type="button" class="collapse"> acknowledgements </button>
            <div class="archive-links">
                <p> This website was designed & coded by Neta Bomani.</p>
                <p> Fonts are Times and Courier, default serif and monospace fonts found on most computers.</p>
                <p> Feel free to share any archival materials you find here as long as you properly attribute all the people cited & link back to this website. </p>
                <p> Last updated 07-19-2021.</p>
            </div>
        </div>

        <div class="right">
            {{ content }}
        </div>

        <script src="/../js/layout.js"></script>
</body>